<template>
    <div id="pageWrap">
        <b-button @click="navigateToCreateDocument()" class="nav-createdocument-button" variant="dark">Create Document</b-button>
        <b-button @click="navigateToViewDocuments()" class="nav-viewdocuments-button" variant="dark">View Documents</b-button>

        <b-form-input class="name-input" v-model="subject" placeholder="Name of the document:"></b-form-input>
        <b-form-file class="upload-file" v-model="selectedFile" :state="Boolean(selectedFile)" placeholder="Choose a file:" drop-placeholder="Drop file here..."></b-form-file>
        
        <b-button @click="submit()" class="submit-button" variant="dark">Submit</b-button>

        <b-button @click="logout()" class="nav-logout-button" variant="dark">Logout</b-button>
    </div>

</template>

<script>
    export default {

        data() {
            return {
            }
        },

        methods: {
            navigateToCreateDocument() {
                this.$router.push('/create-document')
            },

            navigateToViewDocuments() {
                this.$router.push('/view-documents')
            },

            logout() {
                this.$router.push('/')
            }
        }
    }
</script>

<style scoped>

.nav-viewdocuments-button {
    position: absolute;
    margin: 0 3%;
    top: 12%;
    width: 6%;
    height: 7%;
    left: 5%;

}

.nav-logout-button {
    position: absolute;
    margin: 0 3%;
    top: 5%;
    width: 6%;
    height: 7%;
    left: 85%;
}

.nav-createdocument-button {
    position: absolute;
    margin: 0 3%;
    top: 3%;
    width: 6%;
    height: 7%;
    left: 5%;
}

.submit-button {
    position: absolute;
    margin: 0 3%;
    top: 40%;
    width: 5%;
    height: 5%;
    left: 43%;
}

.name-input{
    position: absolute;
    margin: 0 3%;
    top: 20%;
    max-width: 400px;
    height: 5%;
    left: 35%;
}

.upload-file{
    position: absolute;
    margin: 0 3%;
    top: 30%;
    max-width: 400px;
    height: 5%;
    left: 35%;
}

</style>