<template>
    <div id="pageWrap">
        <b-button @click="navigateToCreateDocument()" class="nav-createdocument-button" variant="dark">Create Document</b-button>
        <b-button @click="navigateToViewDocuments()" class="nav-viewdocuments-button" variant="dark">View Documents</b-button>

        <b-button @click="logout()" class="nav-logout-button" variant="dark">Logout</b-button>
    </div>

</template>

<script>
    export default {

        data() {
            return {
            }
        },

        methods: {
            navigateToCreateDocument() {
                this.$router.push('/create-document')
            },

            navigateToViewDocuments() {
                this.$router.push('/view-documents')
            },

            logout() {
                this.$router.push('/')
            }
        }
    }
</script>

<style scoped>

.nav-logout-button {
    position: absolute;
    margin: 0 3%;
    top: 5%;
    width: 6%;
    height: 7%;
    left: 85%;
}

.nav-viewdocuments-button {
    position: absolute;
    margin: 0 3%;
    top: 12%;
    width: 6%;
    height: 7%;
    left: 5%;
}

.nav-createdocument-button {
    position: absolute;
    margin: 0 3%;
    top: 3%;
    width: 6%;
    height: 7%;
    left: 5%;
}

</style>