<template>
    <div id="pageWrap">
        <b-button @click="navigateToSignUp()" class="nav-signup-button" variant="dark">Sign Up Page</b-button>
        <b-button @click="navigateToSignIn()" class="nav-signin-button" variant="dark">Sign In Page</b-button>

        <b-form-input class="email-input" v-model="subject" placeholder="Email:"></b-form-input>

        <b-form-input class="password-input" v-model="subject" placeholder="Password:"></b-form-input>

        <b-button @click="signIn()" class="signin-button" variant="dark">Sign In</b-button>
    </div>

</template>

<script>
    export default {

        data() {

            return {
                email: '',
                password: ''
            }
        },

        methods: {
            signIn() {
                // Make API call to backend for sign-in
                // Once sign-in is successful and you receive the JWT token in the response
                
                // Store JWT token in localStorage
                //localStorage.setItem('token', response.data.data.token);
                
                // Navigate to another page or perform other actions
                this.$router.push('/view-documents'); // Example navigation to /dashboard page
            },

            navigateToSignUp() {
                this.$router.push('/sign-up');
            },

            navigateToSignIn() {
                this.$router.push('/sign-in');
            }
        }
    }
</script>

<style scoped>

.nav-signup-button {
    position: absolute;
    margin: 0 3%;
    top: 12%;
    width: 5%;
    height: 7%;
    left: 5%;

}.nav-signin-button {
    position: absolute;
    margin: 0 3%;
    top: 3%;
    width: 5%;
    height: 7%;
    left: 5%;
}

.signin-button {
    position: absolute;
    margin: 0 3%;
    top: 40%;
    width: 10%;
    height: 5%;
    left: 40%;
}

.email-input{
    position: absolute;
    margin: 0 3%;
    top: 20%;
    max-width: 400px;
    height: 5%;
    left: 35%;
}

.password-input{
    position: absolute;
    margin: 0 3%;
    top: 30%;
    max-width: 400px;
    height: 5%;
    left: 35%;
}

</style>