<template>
    <div id="pageWrap">
        <b-button @click="navigateToSignUp()" class="nav-signup-button" variant="dark">Sign Up Page</b-button>
        <b-button @click="navigateToSignIn()" class="nav-signin-button" variant="dark">Sign In Page</b-button>

        <b-form-input class="email-input" v-model="email" placeholder="Email:"></b-form-input>

        <b-form-input class="password-input" v-model="password" placeholder="Password:"></b-form-input>

        <b-button @click="signUp()" class="signup-button" variant="dark">Sign Up</b-button>
    </div>

</template>

<script>
    import authService from '../../services/AuthService'
    export default {

        data() {

            return {
                email: '',
                password: ''
            }
        },

        methods: {
            signUp() {
                let request = {
                    email: this.email,
                    password: this.password
                }
                console.log(request)

                let response = authService.signUp(request);
                console.log(response);
                //localStorage.setItem('token', response.data.data.token);
                
                this.$router.push('/view-documents');
            },

            navigateToSignUp() {
                this.$router.push('/sign-up');
            },

            navigateToSignIn() {
                this.$router.push('/sign-in');
            }
        }
    }
</script>

<style scoped>

.nav-signup-button {
    position: absolute;
    margin: 0 3%;
    top: 12%;
    width: 5%;
    height: 7%;
    left: 5%;

}.nav-signin-button {
    position: absolute;
    margin: 0 3%;
    top: 3%;
    width: 5%;
    height: 7%;
    left: 5%;
}

.signup-button {
    position: absolute;
    margin: 0 3%;
    top: 40%;
    width: 10%;
    height: 5%;
    left: 40%;
}

.email-input{
    position: absolute;
    margin: 0 3%;
    top: 20%;
    max-width: 400px;
    height: 5%;
    left: 35%;
}

.password-input{
    position: absolute;
    margin: 0 3%;
    top: 30%;
    max-width: 400px;
    height: 5%;
    left: 35%;
}

</style>